# Sensitive configuration files
*.properties

# Keep template files 
!application-template.properties

# Build output
target/
bin/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Other
*.log
*.swp
.DS_Store
.zshrc

uploads/
.env.local
application.properties
application.properties
application_1.properties
applicationLocal.properties
